body {
  font-family: 'Montserrat';
  font-size: 14px;
}
.disabled{
  pointer-events: none;
  cursor: default;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a,
.dropbtn {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active),
.dropdown:hover .dropbtn {
  background-color: #ddd;
}

ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul li a.active {
  color: white;
  background-color: #5369f8;
}


button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.carousel-indicators span {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.carousel-indicators span.active {
  background-color: #717171;
}

/* Carousel Styling details*/
.carousel {
  position: relative;
  width: 600px;
  height: 300px; /* Set a fixed height */
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  display: none; /* Hide images by default */
  object-fit: cover; /* This will cover the area, cropping excess parts */
  object-position: center; /* Center the image in the frame */
  transition: opacity 0.5s ease;
}

.carousel-images img.active {
  display: block; /* Show active image */
  opacity: 1;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.carousel-indicators span {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.carousel-indicators span.active {
  background-color: #717171;
}



/* Login Card Styling details*/

.login-card {
  height: 650px;
  width: 900px;
  margin-top: 10%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.login_box {
  width: 1050px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background: black;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  overflow: hidden;
}
.login_box .left {
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  background-color: #EBF7FE;
}
.login_box .right {
  width: 59%;
  height: 100%;
}
.left .top_link a {
  color: #452a5a;
  font-weight: 400;
}
.left .top_link {
  height: 20px;
}
.left .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 73%;
  margin: auto;
}
.left .contact form {
  height: 400px;
}
.left h3 {
  text-align: center;
  margin-bottom: 40px;
}
.left .input--field {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}

.left .button{
    background-color: #5369f8;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';

}
.left {
  background: #dcd7e0;
}
.submit {
  border: none;
  padding: 15px 70px;
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-top: 120px;
  background: #583672;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.right {
  background: white;
  position: relative;
}

.right .right-text {
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.right .right-inductor {
  position: absolute;
  background: #fff0;
  left: 50%;
  margin-top: 60px;
  transform: translate(-50%, 0%);
}
.top_link img {
  width: 28px;
  padding-right: 7px;
  margin-top: -3px;
}